/* Home container */
.home-container{
   border: 1px solid rgba(0, 0, 0, 0.19);
   border-radius: 20px;
  max-width: 800px;
  margin: 20px auto;
  margin-top: 3rem;
  margin-bottom: 3rem;

  transition: 0.3s;
  position: relative;
  background-color: #F4F5F0;

} 

/* Mobile view */
@media only screen and (max-width: 760px) {
    .home-container{
        width: 100%;
      flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
        align-items: center;
         margin: 0px auto;
     
    }

  }

