nav{
    
    color: black;
    padding: 5px 10px;
}

.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    flex-wrap: wrap;
    /* font here */
   
}
.nav-icons:hover{
    
    cursor:pointer;
    transform: scale(1.1);
}



@media only screen and (max-width: 760px) {
    .container{
        
        flex-direction: column;
        width: 60%;
        height: 5%;
        text-align: center;
        flex-wrap: wrap;
        align-items: center;
         margin: 2px
     
    }

  }



