nav{
    
    color: black;
    padding: 5px 10px;
}

.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* font here */
   
}
ul{
    gap:9px;
    display: flex;
    gap: 5px;
    margin-right: 6em;
}


@media only screen and (max-width: 760px) {
    .container{
        
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
        align-items: center;
         margin: 0px auto;
     
    }
    ul{
        
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: 10px auto;
        flex-wrap: wrap;
       
    }

  }



